/*
Teambition Open API

Teambition Open API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AutoflowAPIService AutoflowAPI service
type AutoflowAPIService service

type ApiTriggerCustomEventRequest struct {
	ctx context.Context
	ApiService *AutoflowAPIService
	xTenantId *string
	triggerCustomEventRequest *TriggerCustomEventRequest
}

// 企业 ID
func (r ApiTriggerCustomEventRequest) XTenantId(xTenantId string) ApiTriggerCustomEventRequest {
	r.xTenantId = &xTenantId
	return r
}

// 
func (r ApiTriggerCustomEventRequest) TriggerCustomEventRequest(triggerCustomEventRequest TriggerCustomEventRequest) ApiTriggerCustomEventRequest {
	r.triggerCustomEventRequest = &triggerCustomEventRequest
	return r
}

func (r ApiTriggerCustomEventRequest) Execute() (*TriggerCustomEventResponse, *http.Response, error) {
	return r.ApiService.TriggerCustomEventExecute(r)
}

/*
TriggerCustomEvent 触发自动化自定义事件

触发自动化自定义事件

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTriggerCustomEventRequest

  @link https://open.teambition.com/docs/apis/6527b37e912d20d3b57881d3 document
*/
func (a *AutoflowAPIService) TriggerCustomEvent(ctx context.Context) ApiTriggerCustomEventRequest {
	return ApiTriggerCustomEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TriggerCustomEventResponse
func (a *AutoflowAPIService) TriggerCustomEventExecute(r ApiTriggerCustomEventRequest) (*TriggerCustomEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TriggerCustomEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx)
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/autoflow/custom-event/trigger"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "")
	}
	// body params
	localVarPostBody = r.triggerCustomEventRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
