/*
Teambition Open API

Teambition Open API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FavoritesAPIService FavoritesAPI service
type FavoritesAPIService service

type ApiGetV3FavoriteListRequest struct {
	ctx context.Context
	ApiService *FavoritesAPIService
	xOperatorId *string
	xTenantId *string
	refType *string
	pageSize *int32
	pageToken *string
}

// 点赞人ID
func (r ApiGetV3FavoriteListRequest) XOperatorId(xOperatorId string) ApiGetV3FavoriteListRequest {
	r.xOperatorId = &xOperatorId
	return r
}

// 企业 ID
func (r ApiGetV3FavoriteListRequest) XTenantId(xTenantId string) ApiGetV3FavoriteListRequest {
	r.xTenantId = &xTenantId
	return r
}

// 主体类别，默认task，表示任务
func (r ApiGetV3FavoriteListRequest) RefType(refType string) ApiGetV3FavoriteListRequest {
	r.refType = &refType
	return r
}

// 每一页大小，默认50
func (r ApiGetV3FavoriteListRequest) PageSize(pageSize int32) ApiGetV3FavoriteListRequest {
	r.pageSize = &pageSize
	return r
}

// 分也标
func (r ApiGetV3FavoriteListRequest) PageToken(pageToken string) ApiGetV3FavoriteListRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiGetV3FavoriteListRequest) Execute() (*GetV3FavoriteListResponse, *http.Response, error) {
	return r.ApiService.GetV3FavoriteListExecute(r)
}

/*
GetV3FavoriteList 获取收藏夹关联的主体ID

获取收藏夹关联的主体ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetV3FavoriteListRequest

  @link https://open.teambition.com/docs/apis/68da36dd92244c2db35778a9 document
*/
func (a *FavoritesAPIService) GetV3FavoriteList(ctx context.Context) ApiGetV3FavoriteListRequest {
	return ApiGetV3FavoriteListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetV3FavoriteListResponse
func (a *FavoritesAPIService) GetV3FavoriteListExecute(r ApiGetV3FavoriteListRequest) (*GetV3FavoriteListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetV3FavoriteListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx)
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/favorite/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.refType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "refType", r.refType, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOperatorId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-operator-id", r.xOperatorId, "")
	}
	if r.xTenantId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant-Id", r.xTenantId, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
