openapi: 3.0.0
info:
  contact:
    name: Teambition Support
    url: https://www.teambition.com
  description: Teambition Open API
  title: Teambition Open API
  version: 1.0.0
servers:
- description: 公有云
  url: https://open.teambition.com/api
paths:
  /oauth/sso:
    get:
      deprecated: false
      description: 请求身份验证
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cd912d20d3b5a48785
      operationId: GetSSOToken
      parameters:
      - deprecated: false
        description: 应用的唯一 ID
        explode: true
        in: query
        name: app_id
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 登录成功后的回调地址，需要配置在应用的安全域名中
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 在授权完成回调时会附加此参数，应用可以根据此字符串来判断上下文关系
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          content:
            application/json:
              example: "HTTP/1.1 302 Found Location: https://REDIRECT_URI/callback?code=AUTH_CODE&state=STATE"
              schema:
                properties: {}
                type: object
          description: 生成免登授权码 code，重定向至 redirect_uri，拼接 code 和 state 参数。
      security:
      - appToken: []
      summary: 请求身份验证
      tags:
      - oauth
  /oauth/userAccessToken:
    post:
      deprecated: false
      description: 该接口用于获取登录用户的授权凭证 userAccessToken
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cd912d20d3b5a487bd
      operationId: GetUserAccessToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetUserAccessToken_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserAccessToken_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取登录用户身份
      tags:
      - oauth
  /oauth/userInfo:
    post:
      deprecated: false
      description: 获取登录用户信息
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cd912d20d3b5a487e2
      operationId: GetOAuthUserInfo
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetOAuthUserInfo_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOAuthUserInfo_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取登录用户信息
      tags:
      - oauth
  /user/app/exists:
    post:
      deprecated: false
      description: 该接口用于批量查询用户在企业应用中可见性
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cd912d20d3b5a4884b
      operationId: CheckUserVisibleInApp
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckUserVisibleInApp_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                message: success
              schema:
                $ref: "#/components/schemas/CheckUserVisibleInApp_200_response"
          description: success response
      security:
      - appToken: []
      summary: 批量查询用户应用可见性
      tags:
      - app
  /org/info:
    get:
      deprecated: false
      description: 该接口用于获取企业的信息
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a488f4
      operationId: GetOrgInfo
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrgInfo_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业信息
      tags:
      - org
  /org/admins:
    get:
      deprecated: false
      description: 该接口用于获取企业的管理员，包括拥有者
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48974
      operationId: ListOrgAdmins
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrgAdmins_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业的管理员（含拥有者）
      tags:
      - contact
  /org/owners:
    get:
      deprecated: false
      description: 该接口用于获取企业拥有者信息
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a489be
      operationId: ListOrgOwners
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrgAdmins_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业拥有者
      tags:
      - contact
  /org/member/list:
    get:
      deprecated: false
      description: 该接口用于获取企业的成员列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a489ee
      operationId: ListOrgMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 分页标记，第一次请求不填或者空字符串，表示从头开始遍历；分页查询结果还有更多项时返回 nextPageToken，下次遍历可采用该
          nextPageToken 入参 pageToken 获取查询结果，示例值："cfcb90voe9jct71bqkfg"
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "分页大小, 示例值：10"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: "该参数用于指定查询范围，initiate：新加入的成员,disabled：已禁用的成员,enabled：未禁用的成员,external：\
          外部成员"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 根据角色 ID 过滤企业成员
        explode: true
        in: query
        name: roleId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrgMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业成员列表
      tags:
      - contact
  /org/member/update:
    put:
      deprecated: false
      description: 更新企业成员
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48a5b
      operationId: UpdateOrgMember
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: X-Operator-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrgMember_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrgMember_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 更新企业成员
      tags:
      - contact
  /org/member/enable:
    post:
      deprecated: false
      description: 该接口用于启用指定企业成员的账号，启用后用户可以访问指定企业
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48a8e
      operationId: EnableOrgMember
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableOrgMember_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrgMember_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 启用企业成员账号
      tags:
      - contact
  /org/member/disable:
    post:
      deprecated: false
      description: 该接口用于停用指定企业成员的账号，停用后用户将不能访问指定企业
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48abe
      operationId: DisableOrgMember
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableOrgMember_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrgMember_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 停用企业成员账号
      tags:
      - contact
  /org/member/delete:
    post:
      deprecated: false
      description: 该接口用于删除企业的成员
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48afb
      operationId: DeleteOrgMember
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: false
        in: header
        name: X-Operator-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableOrgMember_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrgMember_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 删除企业成员
      tags:
      - contact
  /org/member/count:
    get:
      deprecated: false
      description: 该接口用于获取企业成员数量
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48b29
      operationId: CountOrgMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: "该参数用于指定查询范围，initiate：新加入的成员,disabled：已禁用的成员,enabled：未禁用的成员,external：\
          外部成员"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountOrgMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业成员数量
      tags:
      - contact
  /org/member/batchGet:
    post:
      deprecated: false
      description: 该接口用于批量获取企业成员信息
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48b59
      operationId: BatchGetOrgMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchGetOrgMembers_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOrgAdmins_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 批量获取企业成员
      tags:
      - contact
  /org/member/search:
    get:
      deprecated: false
      description: 该接口用于搜索企业成员
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48b88
      operationId: SearchOrgMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 查询字符，填入查询关键字，例如用户名字
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页标记，第一次请求不填或者空字符串，表示从头开始遍历；分页查询结果还有更多项时返回 nextPageToken，下次遍历可采用该
          nextPageToken 入参 pageToken 获取查询结果，示例值："cfcb90voe9jct71bqkfg"
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "分页大小, 示例值：10"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: "筛选条件，支持disabled（已禁用成员）和enabled（已启用成员）, 默认不做过滤, 全部返回"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchOrgMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 搜索企业成员
      tags:
      - contact
  /org/departments:
    get:
      deprecated: false
      description: 该接口用于获取企业的部门列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48bbc
      operationId: ListDepartments
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 分页标记，第一次请求不填或者空字符串，表示从头开始遍历；分页查询结果还有更多项时返回 nextPageToken，下次遍历可采用该
          nextPageToken 入参 pageToken 获取查询结果，示例值："cfcb90voe9jct71bqkfg"
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "分页大小, 示例值：10"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDepartments_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取企业部门列表
      tags:
      - contact
  /org/department/members:
    delete:
      deprecated: false
      description: 该接口用于删除部门成员
      externalDocs:
        url: https://open.teambition.com/docs/apis/667d5159912d20d3b5b76087
      operationId: RemoveDepartmentMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveDepartmentMembers_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveDepartmentMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 删除部门成员
      tags:
      - contact
    get:
      deprecated: false
      description: 该接口用于获取企业部门成员列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48bfc
      operationId: ListDepartmentMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 部门 ID
        explode: true
        in: query
        name: deptId
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 是否忽略子孙部门成员
        explode: true
        in: query
        name: omitSubDepartment
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页标记，第一次请求不填或者空字符串，表示从头开始遍历；分页查询结果还有更多项时返回 nextPageToken，下次遍历可采用该
          nextPageToken 入参 pageToken 获取查询结果，示例值："cfcb90voe9jct71bqkfg"
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "分页大小, 示例值：10"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDepartmentMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取部门成员列表
      tags:
      - contact
    post:
      deprecated: false
      description: 该接口用于添加部门成员
      externalDocs:
        url: https://open.teambition.com/docs/apis/667d5158912d20d3b5b76029
      operationId: AddDepartmentMembers
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDepartmentMembers_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDepartmentMembers_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 添加部门成员
      tags:
      - contact
  /user/joinedDepartments:
    get:
      deprecated: false
      description: 该接口用于获取用户加入的企业部门列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6ce912d20d3b5a48c30
      operationId: ListUserDepartments
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 用户ID
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页标记，第一次请求不填或者空字符串，表示从头开始遍历；分页查询结果还有更多项时返回 nextPageToken，下次遍历可采用该
          nextPageToken 入参 pageToken 获取查询结果，示例值："cfcb90voe9jct71bqkfg"
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "分页大小, 示例值：10"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDepartments_200_response"
              example: null
          description: 成功返回
      security:
      - appToken: []
      summary: 获取用户加入的企业部门列表
      tags:
      - contact
  /plantime/create:
    post:
      deprecated: false
      description: |-
        本接口可用于创建计划工时

        注意： 项目归档或回收站 是不能填报工时的，接口会报 「项目已被归档，无法更新工时」或 「项目已在回收站，无法更新工时」错误。
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a48f2c
      operationId: CreatePlanTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePlanTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 创建计划工时
      tags:
      - worktime
  /plantime/{plantimeId}:
    delete:
      deprecated: false
      description: 该接口用于删除指定的单条计划工时记录
      externalDocs:
        url: https://open.teambition.com/docs/apis/640d7cfa7b2cae002b71a567
      operationId: DeletePlanTime
      parameters:
      - deprecated: false
        description: 租户 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 操作人id
        explode: false
        in: header
        name: X-Operator-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: false
        in: path
        name: plantimeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeletePlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePlanTime_200_response"
          description: 成功返回
      security:
      - appToken: []
      summary: 删除计划工时单条记录
      tags:
      - worktime
    get:
      deprecated: false
      description: 该接口用于根据计划工时 ID 查询计划工时详情
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a48f72
      operationId: GetPlanTimeDetail
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 计划工时 ID
        explode: false
        in: path
        name: plantimeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPlanTimeDetail_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个计划工时详情
      tags:
      - worktime
    put:
      deprecated: false
      description: 该接口用于更新指定的单条计划工时记录
      externalDocs:
        url: https://open.teambition.com/docs/apis/640593c1bccdde0036d568f9
      operationId: UpdatePlanTime
      parameters:
      - deprecated: false
        description: 租户 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 操作人id
        explode: false
        in: header
        name: X-Operator-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: false
        in: path
        name: plantimeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePlanTime_200_response"
          description: 成功返回
      security:
      - appToken: []
      summary: 更新计划工时单条记录
      tags:
      - worktime
  /plantime/list/task/{taskId}:
    get:
      deprecated: false
      description: 该接口用于根据任务 ID 查询单个任务的计划工时列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a48fa1
      operationId: ListTaskPlanTimes
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务 ID
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTaskPlanTimes_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个任务的计划工时列表
      tags:
      - worktime
  /plantime/aggregation/task/{taskId}:
    get:
      deprecated: false
      description: 该接口用于根据任务 ID 查询单个任务的计划工时总和
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a48fd3
      operationId: SumTaskPlanTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务 ID
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SumTaskPlanTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个任务的计划工时总和
      tags:
      - worktime
  /plantime/aggregation/datesUsers:
    post:
      deprecated: false
      description: 该接口用于查询一定时间内指定用户的计划工时聚合数
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a4901c
      operationId: AggregateUserPlanTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateUserPlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateUserPlanTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取一定时间内订阅的指定用户的计划工时聚合数
      tags:
      - worktime
  /worktime/create:
    post:
      deprecated: false
      description: |-
        该接口用于创建实际工时

        注意：
        项目归档或回收站 是不能填报工时的，接口会报 「项目已被归档，无法更新工时」或 「项目已在回收站，无法更新工时」错误。
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a49058
      operationId: CreateWorkTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateWorkTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 创建实际工时
      tags:
      - worktime
  /worktime/{worktimeId}:
    delete:
      deprecated: false
      description: 该接口用于删除指定的单条实际工时记录
      externalDocs:
        url: https://open.teambition.com/docs/apis/6405ce05b07df7002be7613d
      operationId: DeleteWorkTime
      parameters:
      - deprecated: false
        description: 租户 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 操作人id
        explode: false
        in: header
        name: X-Operator-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: false
        in: path
        name: worktimeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeletePlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWorkTime_200_response"
          description: 成功返回
      security:
      - appToken: []
      summary: 删除实际工时单条记录
      tags:
      - worktime
    get:
      deprecated: false
      description: 该接口用于根据实际工时 ID 查询实际工时详情
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a49082
      operationId: GetWorkTimeDetail
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 实际工时 ID
        explode: false
        in: path
        name: worktimeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWorkTimeDetail_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个实际工时详情
      tags:
      - worktime
    put:
      deprecated: false
      description: 该接口用于更新指定的单条实际工时记录
      externalDocs:
        url: https://open.teambition.com/docs/apis/640594b7b07df7002be69f92
      operationId: UpdateWorkTime
      parameters:
      - deprecated: false
        description: 租户 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 操作人id
        explode: false
        in: header
        name: X-Operator-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: false
        in: path
        name: worktimeId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWorkTime_200_response"
          description: 成功返回
      security:
      - appToken: []
      summary: 更新实际工时单条记录
      tags:
      - worktime
  /worktime/list/task/{taskId}:
    get:
      deprecated: false
      description: 该接口用于根据任务 ID 查询单个任务的实际工时列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a490b3
      operationId: ListTaskWorkTimes
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务 ID
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTaskWorkTimes_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个任务的实际工时列表
      tags:
      - worktime
  /worktime/aggregation/task/{taskId}:
    get:
      deprecated: false
      description: 该接口用于根据任务 ID 查询单个任务的实际工时总和
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a490e1
      operationId: SumTaskWorkTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务 ID
        explode: false
        in: path
        name: taskId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SumTaskWorkTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取单个任务的实际工时总和
      tags:
      - worktime
  /worktime/aggregation/datesUsers:
    post:
      deprecated: false
      description: 该接口用于查询一定时间内指定用户的实际工时聚合数
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6cf912d20d3b5a49110
      operationId: AggregateUserWorkTime
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateUserPlanTime_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateUserWorkTime_200_response"
              example: null
          description: success response
      security:
      - appToken: []
      summary: 获取一定时间内订阅的指定用户的实际工时聚合数据
      tags:
      - worktime
  /v3/customfield/create:
    post:
      deprecated: false
      description: "创建项目自定义字段(提交项目ID),创建企业自定义字段"
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a492ca
      operationId: CreateProjectCustomfieldV3
      parameters:
      - deprecated: false
        description: 创建人ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectCustomfieldV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectCustomfieldV3_200_response"
          description: 搜索项目自定义字段响应
      security:
      - appToken: []
      summary: "创建项目自定义字段(提交项目ID),创建企业自定义字段"
      tags:
      - customfield
  /v3/customfield/{customfieldId}/delete:
    post:
      deprecated: false
      description: 删除自定义字段，默认删除企业自定义字段，如果传递项目ID，则删除项目下自定义字段
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a4930c
      operationId: DeleteCustomfieldV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 自定义字段ID
        explode: false
        in: path
        name: customfieldId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCustomfieldV3_200_response"
          description: 删除自定义字段响应
      security:
      - appToken: []
      summary: 删除自定义字段，默认删除企业自定义字段，如果传递项目ID，则删除项目下自定义字段
      tags:
      - customfield
  /v3/customfield/search:
    get:
      deprecated: false
      description: 搜索企业自定义字段
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49355
      operationId: SearchOrgCustomfiledV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 自定义字段ID集合，逗号组合
        explode: true
        in: query
        name: cfIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 过滤出在指定项目中使用的企业字段，当scope=usedInProjectIds有效
        explode: true
        in: query
        name: projectIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 字段InstanceId集合，用逗号组合
        explode: true
        in: query
        name: instanceIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 过滤字段名字
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 每页长度
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchOrgCustomfiledV3_200_response"
          description: 搜索企业自定义字段响应
      security:
      - appToken: []
      summary: 搜索企业自定义字段
      tags:
      - customfield
  /v3/customfield/{customfieldId}/update:
    put:
      deprecated: false
      description: 更新自定义字段，默认更新企业自定义字段，如果传递项目ID，则更新项目下自定义字段
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49391
      operationId: UpdateCustomfieldV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 自定义字段ID
        explode: false
        in: path
        name: customfieldId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: ""
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomfieldV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomfieldV3_200_response"
          description: 搜索项目自定义字段响应
      security:
      - appToken: []
      summary: 更新自定义字段，默认更新企业自定义字段，如果传递项目ID，则更新项目下自定义字段
      tags:
      - customfield
  /v3/project/priority/list:
    get:
      deprecated: false
      description: 查询企业优先级
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a4961c
      operationId: ListPrioritiesV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业ID
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrioritiesV3_200_response"
          description: 任务详情
      security:
      - appToken: []
      summary: 查询企业优先级
      tags:
      - project
  /v3/project/{projectId}/application/{appId}/create:
    post:
      deprecated: false
      description: 安装项目应用
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49662
      operationId: InstallProjectAppV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 应用ID
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallProjectAppV3_200_response"
          description: 安装项目应用响应
      security:
      - appToken: []
      summary: 安装项目应用
      tags:
      - project
  /v3/project/{projectId}/application/{appId}/delete:
    post:
      deprecated: false
      description: 删除项目应用
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49691
      operationId: UninstallProjectAppV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 应用ID
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UninstallProjectAppV3_200_response"
          description: 删除项目应用响应
      security:
      - appToken: []
      summary: 删除项目应用
      tags:
      - project
  /v3/project/{projectId}/application/list:
    get:
      deprecated: false
      description: 查询项目应用列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a496c1
      operationId: ListProjectAppsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 应用ID集合，逗号分隔，如果传递该参数仅查询指定 应用ID
        explode: true
        in: query
        name: appIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: installed 或者 all，默认查询已经安装的应用
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectAppsV3_200_response"
          description: 查询项目安装的应用列表响应
      security:
      - appToken: []
      summary: 查询项目应用列表
      tags:
      - project
  /v3/project/{projectId}/archive:
    post:
      deprecated: false
      description: 项目放入回收站
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a496ed
      operationId: ArchiveProjectV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveProjectV3_200_response"
          description: 项目放入回收站响应
      security:
      - appToken: []
      summary: 项目放入回收站
      tags:
      - project
  /v3/project/{projectId}/copy:
    post:
      deprecated: false
      description: 复制项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49724
      operationId: CopyProjectV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 是否等待项目下资源全部复制完成
        explode: true
        in: query
        name: waitForCompletion
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyProjectV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyProjectV3_200_response"
          description: 项目响应
      security:
      - appToken: []
      summary: 复制项目
      tags:
      - project
  /v3/project/create-from-template:
    post:
      deprecated: false
      description: 从模板创建项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49753
      operationId: CreateProjectFromTemplateV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: "企业ID, 如果提供`x-tenant-id`, query中不是必须的, 如果提供必须和`x-tenant-id`一致"
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 是否等待项目下资源全部复制完成
        explode: true
        in: query
        name: waitForCompletion
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectFromTemplateV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectFromTemplateV3_200_response"
          description: 从模板创建项目响应
      security:
      - appToken: []
      summary: 从模板创建项目
      tags:
      - project
  /v3/project/create:
    post:
      deprecated: false
      description: 创建项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49780
      operationId: CreateProjectV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: "企业ID, 如果提供`x-tenant-id`, query中不是必须的, 如果提供必须和`x-tenant-id`一致"
        explode: true
        in: query
        name: organizationId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectV3_200_response"
          description: 创建项目响应
      security:
      - appToken: []
      summary: 创建项目
      tags:
      - project
  /v3/project/{projectId}/customfield/get-by-instance:
    get:
      deprecated: false
      description: 批量根据instanceId查询字段
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a497b9
      operationId: BatchGetProjectCustomFiledByInstanceIdsV3
      parameters:
      - deprecated: false
        description: "查询人ID, 如果存在会检查该成员可见的任务"
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 字段InstanceId，用逗号组合
        explode: true
        in: query
        name: instanceIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGetProjectCustomFiledByInstanceIdsV3_200_response"
          description: 批量根据instanceId查询字段响应
      security:
      - appToken: []
      summary: 批量根据instanceId查询字段
      tags:
      - project
  /v3/project/{projectId}/customfield/search:
    get:
      deprecated: false
      description: 搜索项目自定义字段
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a497f6
      operationId: SearchProjectCustomFiledsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: |
          根据不同应用场景获取字段, 应用场景可选值：
          - taskTableHeader  获取任务列表视图表头可用字段
          - searcherAdd  获取筛选器可用字段
          - taskExportHeader  获取任务导出可用字段
          - sfcAdd  获取任务类型可添加字段
          - kanbanCardAdd  获取看板卡片可用字段
          - all  获取所有字段（默认）
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 过滤字段名字
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 每页长度
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: |
          任务类型ID，获取该sfcId中的字段，需配合scope使用: taskTableHeader, searcherAdd, kanbanCardAdd
        explode: true
        in: query
        name: sfcId
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 自定义字段ID集合，逗号组合
        explode: true
        in: query
        name: cfIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 字段InstanceId集合，用逗号组合
        explode: true
        in: query
        name: instanceIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 字段OriginalIds集合，用逗号组合
        explode: true
        in: query
        name: originalIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 任务类型 story | bug
        explode: true
        in: query
        name: subtype
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchProjectCustomFiledsV3_200_response"
          description: 搜索项目自定义字段响应
      security:
      - appToken: []
      summary: 搜索项目自定义字段
      tags:
      - project
  /v3/project/{projectId}/member/create:
    post:
      deprecated: false
      description: 创建项目成员(弃用)
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a498c0
      operationId: CreateProjectMemberV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectMemberV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectMemberV3_200_response"
          description: 创建项目成员响应
      security:
      - appToken: []
      summary: 创建项目成员(弃用)
      tags:
      - project
  /v3/project/{projectId}/member:
    get:
      deprecated: false
      description: 获取项目成员列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49906
      operationId: ListProjectMembersV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 如果传递，仅查询这些用户ID， 用逗号组合
        explode: true
        in: query
        name: userIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 项目角色ID，仅查询拥有该角色的成员，并且仅支持单个角色查询
        explode: true
        in: query
        name: projectRoleId
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: 每一页数量
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - deprecated: true
        description: 分页
        explode: true
        in: query
        name: skip
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页大小
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectMembersV3_200_response"
          description: 获取项目成员列表响应
      security:
      - appToken: []
      summary: 获取项目成员列表
      tags:
      - project
  /v3/project/{projectId}/member/role/assign:
    post:
      deprecated: false
      description: 修改项目成员的角色
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49942
      operationId: AssignMemberRoleV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignMemberRoleV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignMemberRoleV3_200_response"
          description: 修改项目成员的角色响应
      security:
      - appToken: []
      summary: 修改项目成员的角色
      tags:
      - project
  /v3/project/{projectId}/objectlinks:
    get:
      deprecated: false
      description: 获取项目关联列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a4996f
      operationId: GetProjectLinksV3
      parameters:
      - deprecated: false
        description: 操作者 ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目 ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProjectLinksV3_200_response"
          description: 获取项目关联列表响应
      security:
      - appToken: []
      summary: 获取项目关联列表
      tags:
      - project
    post:
      deprecated: false
      description: 创建项目关联
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a499a5
      operationId: CreateProjectLinkV3
      parameters:
      - deprecated: false
        description: 操作者 ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目 ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectLinkV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectLinkV3_200_response"
          description: 创建项目关联响应
      security:
      - appToken: []
      summary: 创建项目关联
      tags:
      - project
  /v3/project/{projectId}/objectlinks/{objectlinkId}:
    delete:
      deprecated: false
      description: 删除项目关联
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a499df
      operationId: DeleteProjectLinkV3
      parameters:
      - deprecated: false
        description: 操作者 ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目 ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 关联 ID
        explode: false
        in: path
        name: objectlinkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteProjectLinkV3_200_response"
          description: 删除项目关联响应
      security:
      - appToken: []
      summary: 删除项目关联
      tags:
      - project
  /v3/project/{projectId}/project-tag:
    get:
      deprecated: false
      description: 查看项目的项目分组
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49a2e
      operationId: GetProjectTagsV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProjectTagsV3_200_response"
          description: 项目的项目分组ID列表
      security:
      - appToken: []
      summary: 查看项目的项目分组
      tags:
      - project
    put:
      deprecated: false
      description: 更新项目的项目分组
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49a5c
      operationId: UpdateProjectTagsV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectTagsV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateProjectTagsV3_200_response"
          description: 项目的项目分组ID列表
      security:
      - appToken: []
      summary: 更新项目的项目分组
      tags:
      - project
  /v3/project/query:
    get:
      deprecated: false
      description: 查询项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49aa7
      operationId: QueryProjectsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID集合，逗号分隔
        explode: true
        in: query
        name: projectIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 项目名字(模糊匹配)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页大小
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 原始项目ID
        explode: true
        in: query
        name: sourceId
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: |
          项目可见性
          - 'project': 私有项目
          - 'organization': 企业公开项目
        explode: true
        in: query
        name: visible
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 是否包含模板项目，默认 false
        explode: true
        in: query
        name: includeTemplate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryProjectsV3_200_response"
          description: 查询项目响应
      security:
      - appToken: []
      summary: 查询项目
      tags:
      - project
  /v3/project/{projectId}/role/create-by-project-role:
    post:
      deprecated: false
      description: 引入企业后台项目角色到项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d0912d20d3b5a49ae8
      operationId: CreateRoleFromTemplateV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleFromTemplateV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRoleFromTemplateV3_200_response"
          description: 引入项目后的响应，返回创建成功的项目角色
      security:
      - appToken: []
      summary: 引入企业后台项目角色到项目
      tags:
      - project
  /v3/project/{projectId}/role/create:
    post:
      deprecated: false
      description: 创建项目角色
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49b28
      operationId: CreateProjectRoleV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRoleV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectRoleV3_200_response"
          description: 创建项目角色响应
      security:
      - appToken: []
      summary: 创建项目角色
      tags:
      - project
  /v3/project/{projectId}/role/{roleId}/delete:
    post:
      deprecated: false
      description: 移除项目角色
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49b61
      operationId: DeleteProjectRoleV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目角色ID
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteProjectRoleV3_200_response"
          description: 移除项目角色响应
      security:
      - appToken: []
      summary: 移除项目角色
      tags:
      - project
  /v3/project/{projectId}/role:
    get:
      deprecated: false
      description: 获取项目角色列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49b8f
      operationId: ListProjectRolesV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 分页大小
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 角色等级
        explode: true
        in: query
        name: level
        required: false
        schema:
          type: number
        style: form
      - deprecated: false
        description: "是否返回隐藏角色,默认为否"
        explode: true
        in: query
        name: includeHidden
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectRolesV3_200_response"
          description: 获取项目角色列表响应
      security:
      - appToken: []
      summary: 获取项目角色列表
      tags:
      - project
  /v3/project/{projectId}/role/{roleId}/permission/update:
    post:
      deprecated: false
      description: 修改项目角色的权限项
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49bca
      operationId: UpdateRolePermissionsV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目角色ID
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRolePermissionsV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRolePermissionsV3_200_response"
          description: 修改项目角色的权限项响应
      security:
      - appToken: []
      summary: 修改项目角色的权限项
      tags:
      - project
  /v3/sfc/create:
    post:
      deprecated: false
      description: 创建项目任务类型(提交项目ID)，创建企业任务类型
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49c04
      operationId: CreateSfcV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSfcV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSfcV3_200_response"
          description: "项目任务类型响应, 企业任务类型响应"
      security:
      - appToken: []
      summary: "创建项目任务类型(提交项目ID), 创建企业任务类型"
      tags:
      - sfc
  /v3/sfc/{sfcId}:
    put:
      deprecated: false
      description: 修改项目任务类型(提交项目ID)，修改企业任务类型
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49c43
      operationId: UpdateSfcV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务类型ID
        explode: false
        in: path
        name: sfcId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSfcV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSfcV3_200_response"
          description: "项目任务类型响应, 企业任务类型响应"
      security:
      - appToken: []
      summary: "修改项目任务类型(提交项目ID), 修改企业任务类型"
      tags:
      - sfc
  /v3/project/{projectId}/scenariofieldconfig/search:
    get:
      deprecated: false
      description: 获取项目任务类型
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49cc4
      operationId: GetScenarioFieldsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务类型ID集合，逗号组合
        explode: true
        in: query
        name: sfcIds
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 搜索关键字
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 每页任务数量(默认为50)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: "查询指定资源类型的字段配置,以逗号分隔,例如:'task,testcase'\n默认为task，可选值：\n- 'task'\
          \ 任务\n- 'testcase' 测试用例\n- 'event' 日程 \n"
        explode: true
        in: query
        name: objectTypes
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: "是否来自安装应用,可能有 application.risk | application.story | application.bug"
        explode: true
        in: query
        name: sources
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetScenarioFieldsV3_200_response"
          description: 获取项目任务类型响应
      security:
      - appToken: []
      summary: 获取项目任务类型
      tags:
      - project
  /v3/sfc/{sfcId}/taskflow:
    put:
      deprecated: false
      description: 修改项目下任务类型绑定工作流
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49cf7
      operationId: UpdateSfcTaskflowV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 任务类型ID
        explode: false
        in: path
        name: sfcId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSfcTaskflowV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateSfcTaskflowV3_200_response"
          description: 项目下任务类型修改工作流响应
      security:
      - appToken: []
      summary: 修改项目下任务类型绑定工作流
      tags:
      - sfc
  /v3/project/{projectId}/status/customfield/create:
    post:
      deprecated: false
      description: 更新项目概览自定义字段值
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49d3f
      operationId: CreateStatusCustomFieldV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStatusCustomFieldV3_request"
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStatusCustomFieldV3_200_response"
          description: 更新项目概览自定义字段值响应
      security:
      - appToken: []
      summary: 更新项目概览自定义字段值
      tags:
      - project
  /v3/project/{projectId}/status/customfield/{customfieldId}/delete:
    post:
      deprecated: false
      description: 删除项目概览自定义字段(弃用)
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49d6f
      operationId: DeleteStatusCustomFieldV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 自定义字段ID
        explode: false
        in: path
        name: customfieldId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: ""
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrgMember_200_response"
          description: 项目字段
      security:
      - appToken: []
      summary: 删除项目概览自定义字段(弃用)
      tags:
      - project
  /v3/project/{projectId}/status/customfield/list:
    get:
      deprecated: false
      description: 查询项目概览自定义字段列表
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49d9d
      operationId: ListStatusCustomFieldsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStatusCustomFieldsV3_200_response"
          description: 项目列表
      security:
      - appToken: []
      summary: 查询项目概览自定义字段列表
      tags:
      - project
  /v3/project/{projectId}/status/list:
    get:
      deprecated: false
      description: 查询项目状态和状态历史
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49dd1
      operationId: ListProjectStatusesV3
      parameters:
      - deprecated: false
        description: 查询人ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 分页大小
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 是否对富文本内容html渲染，仅对白名单的应用开放
        explode: true
        in: query
        name: renderHtml
        required: false
        schema:
          type: boolean
        style: form
      - deprecated: false
        description: 渲染html时内容过期时间，默认为 1800(秒)
        explode: true
        in: query
        name: htmlExpireSeconds
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectStatusesV3_200_response"
          description: 查询项目状态和状态历史响应
      security:
      - appToken: []
      summary: 查询项目状态和状态历史
      tags:
      - project
  /v3/project/{projectId}/suspend-restore:
    post:
      deprecated: false
      description: 恢复归档项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49e13
      operationId: RestoreProjectV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreProjectV3_200_response"
          description: 恢复归档项目响应
      security:
      - appToken: []
      summary: 恢复归档项目
      tags:
      - project
  /v3/project/{projectId}/suspend:
    post:
      deprecated: false
      description: 归档项目
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49e41
      operationId: SuspendProjectV3
      parameters:
      - deprecated: false
        description: 操作者ID
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuspendProjectV3_200_response"
          description: 归档项目响应
      security:
      - appToken: []
      summary: 归档项目
      tags:
      - project
  /v3/project/{projectId}/tag/search:
    get:
      deprecated: false
      description: 搜索项目标签
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49e83
      operationId: SearchProjectTagsV3
      parameters:
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 模糊查询标签名字
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 每页长度
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - deprecated: false
        description: 分页标
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - deprecated: false
        description: 标签ID集合，逗号组合
        explode: true
        in: query
        name: tagIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchProjectTagsV3_200_response"
          description: 搜索项目标签响应
      security:
      - appToken: []
      summary: 搜索项目标签
      tags:
      - project
  /v3/project/{projectId}/task/query:
    get:
      deprecated: false
      description: 查询项目任务
      externalDocs:
        url: https://open.teambition.com/docs/apis/6321c6d1912d20d3b5a49ec1
      operationId: SearchProjectTasksV3
      parameters:
      - deprecated: false
        description: "查询人ID, 有些查询语句依赖查询人"
        explode: false
        in: header
        name: x-operator-id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 企业 ID
        explode: false
        in: header
        name: X-Tenant-Id
        required: false
        schema:
          type: string
        style: simple
      - deprecated: false
        description: 项目ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
[...]
